<fieldset  class="leftsubmenu">
    <legend>Управление страницами</legend>
    <div>
      <%= link_current(icon('list')+"Активные участки (#{Lot.active.count})", :action => :list) %>
    </div>
    <div>
      <%= link_current(icon('list')+"Скрытые участки (#{Lot.not_reviewed.length})", :action => :not_reviewed) %><br/>
    </div>
</fieldset>
