<b>[ Сайт Загород : запрос на участок ]</b>
<br/>
Пользователь сделал запрос на участок<br/>
--------------------------------------<br/>
Имя: <%= @name%> <br/>
Тел: <%= @phone%> <br/>
email: <%= @email%> <br/>
--------------------------------------<br/>
Запрошены контакты хозяина на участок №: <%= "%05d" % @lot.id.to_s %><br/>

