<table cellpadding="5" cellspacing="5" border=0 width="100%" class="topmenu">
<tr>
<%= admin_td('Каталог участков', 'catalogue')%>
<%= admin_td('Агентства', 'agency')%>
<%= admin_td('Хозяева', 'owner')%>
<%= admin_td('Страницы', 'page')%>
<%= admin_td('Запросы', 'contacts')%>
</tr>
</table>
