<script>
dcd=document; dcd.cookie="dctc=1";
dcuid=107512; dcref=dcd.referrer;
dcsw=screen.width; dcsh=screen.height;
dcru=dcd.location;
dctq="";
if(dcd.cookie){dctq="&c=q";}
document.write(
'<a href=http://www.domik.net/ '+
'target=_blank><img border=0 alt="Domik.net" '+
'src="http://c.domik.net/?uid='+dcuid+'&rf='+dcref+
'&sw='+dcsw+'&sh='+
dcsh+'&ru='+dcru+dctq+'&rnd='+
Math.random()+'"></a>');
</script>