<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="400" height="400" id="map" align="middle">
<param name="movie" value="kievmap.swf" />
<param name="quality" value="best" />
<param name="bgcolor" value="#FAF9E3" />
<param name="scale" value="noscale" />
<embed src="kievmap.swf" scale="noscale" quality="best" bgcolor="#FAF9E3" width="400" height="400" name="map" align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
